name: Publish Package to npmjs

on:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Publish Package to npmjs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - run: corepack enable
      - name: Use Node.js 24
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "24.11.1"
          package-manager-cache: false
          registry-url: "https://registry.npmjs.org"

      - name: Install
        run: |
          yarn config set enableImmutableInstalls false
          yarn install

      - run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_LESJOURS_TOKEN }}
