name: QC Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  checks:
    name: QC Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - run: corepack enable
      - name: Use Node.js 24
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "24.11.0"
          package-manager-cache: false

      - name: Install
        run: |
          yarn config set enableImmutableInstalls false
          yarn install

      - name: ESLint checks
        run: npm run check-js

      - name: Stylelint checks
        run: npm run check-sass

      - name: Prettier checks
        run: npm run check-style

  tests:
    name: Tests Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - run: corepack enable
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.node-version }}
          package-manager-cache: false

      - name: Install
        run: |
          yarn config set enableImmutableInstalls false
          yarn install

      - name: AVA Tests
        run: npx ava
